{% set footer_customer_care = menu_first_level('customer_care') %}
{% if footer_customer_care is not empty %}
    <div class="four wide column">
        <h4 class="ui inverted header">{{ 'sylius.ui.customer_care'|trans  }}</h4>
        <div class="ui inverted link list">
            {% for item in footer_customer_care %}
                {% set noreferrer = item.noreferrer %}
                {% set noopener = item.noopener %}
                {% set nofollow = item.nofollow %}
                {% set hasRel = noreferrer or noopener or nofollow %}
                <a href="{{ item.url }}" class="item" {% if item.targetBlank %}target="_blank"{% endif %}
                    {% if hasRel %}
                    rel="{% if noreferrer %}noreferrer{% endif %}{% if noopener %} noopener{% endif %}{% if nofollow %} nofollow{% endif %}"
                    {% endif %}>
                    {{ item.label }}</a>
            {% endfor %}
        </div>
    </div>
{% endif %}
