monsieurbiz_menu_admin_menu:
    resource: |
        alias: monsieurbiz_menu.menu
        section: admin
        templates: "@MonsieurBizSyliusMenuPlugin/Admin/Menu"
        except: ['show', 'bulkDelete']
        redirect: index
        grid: monsieurbiz_menu_menu
        vars:
            all:
                templates:
                    form: "@MonsieurBizSyliusMenuPlugin/Admin/Menu/_form.html.twig"
            index:
                icon: 'sitemap'
    type: sylius.resource

monsieurbiz_menu_admin_menu_item_create_for_menu:
    path: /menus/{menuId}/new-item
    methods: [GET, POST]
    defaults:
        _controller: monsieurbiz_menu.controller.menu_item::createAction
        _sylius:
            section: admin
            permission: true
            template: '@MonsieurBizSyliusMenuPlugin/Admin/MenuItem/create.html.twig'
            redirect: &sylius_redirect
                route: monsieurbiz_menu_admin_menu_update
                parameters:
                    id: 'expr:$menuId'
            factory:
                method: createForMenu
                arguments: ['expr:notFoundOnNull(service("monsieurbiz_menu.repository.menu").find($menuId))']
            vars:
                route:
                    name: 'monsieurbiz_menu_admin_menu_item_create_for_menu'
                    parameters:
                        menuId: 'expr:$menuId'
                index: &sylius_vars_index
                    route:
                        name: 'monsieurbiz_menu_admin_menu_update'
                        parameters:
                            id: 'expr:$menuId'
                templates: &sylius_vars_templates
                    form: '@MonsieurBizSyliusMenuPlugin/Admin/MenuItem/_form.html.twig'

monsieurbiz_menu_admin_menu_item_create_for_parent:
    path: /menus/{menuId}/item/{parentId}/new-item
    methods: [GET, POST]
    defaults:
        _controller: monsieurbiz_menu.controller.menu_item::createAction
        _sylius:
            section: admin
            permission: true
            template: '@MonsieurBizSyliusMenuPlugin/Admin/MenuItem/create.html.twig'
            redirect: *sylius_redirect
            factory:
                method: createForParent
                arguments: ['expr:notFoundOnNull(service("monsieurbiz_menu.repository.menu_item").find($parentId))']
            vars:
                route:
                    name: 'monsieurbiz_menu_admin_menu_item_create_for_parent'
                    parameters:
                        menuId: 'expr:$menuId'
                        parentId: 'expr:$parentId'
                index: *sylius_vars_index
                templates: *sylius_vars_templates

monsieurbiz_menu_admin_menu_item_update:
    path: /menus/{menuId}/update-item/{id}
    methods: [GET, PUT, POST]
    defaults:
        _controller: monsieurbiz_menu.controller.menu_item::updateAction
        _sylius:
            section: admin
            permission: true
            template: '@MonsieurBizSyliusMenuPlugin/Admin/MenuItem/update.html.twig'
            redirect: *sylius_redirect
            vars:
                route:
                    name: 'monsieurbiz_menu_admin_menu_item_update'
                    parameters:
                        menuId: 'expr:$menuId'
                        id: 'expr:$id'
                index: *sylius_vars_index
                templates: *sylius_vars_templates

monsieurbiz_menu_admin_menu_item_delete:
    path: /menus/{menuId}/delete-item/{id}
    methods: [DELETE]
    defaults:
        _controller: monsieurbiz_menu.controller.menu_item::deleteAction
        _sylius:
            section: admin
            permission: true
            redirect: *sylius_redirect

monsieurbiz_menu_admin_menu_item_move_up:
    path: /menus/{menuId}/move-item/{id}/up
    methods: [PUT]
    defaults:
        _controller: monsieurbiz_menu.controller.menu_item::moveUpAction
        _sylius: &move_sylius
            section: admin
            permission: true
            redirect: 'referer'

monsieurbiz_menu_admin_menu_item_move_down:
    path: /menus/{menuId}/move-item/{id}/down
    methods: [PUT]
    defaults:
        _controller: monsieurbiz_menu.controller.menu_item::moveDownAction
        _sylius: *move_sylius
