MonsieurBiz\SyliusMenuPlugin\Entity\MenuItemTranslation:
    properties:
        label:
            -   NotBlank:
                    groups: [monsieurbiz_menu]
            -   Length:
                    min: 2
                    max: 255
                    groups: [monsieurbiz_menu]
        url:
            -   AtLeastOneOf:
                    includeInternalMessages: false
                    message: monsieurbiz_menu.not_valid_url
                    constraints:
                        -   Url:
                                protocols: [http, https]
                                relativeProtocol: true
                        -   Regex: '`^(#|/[^/])`'
                    groups: [monsieurbiz_menu]
