{% extends '@SyliusAdmin/Crud/update.html.twig' %}

{% block content %}
    {{ sylius_template_event('monsieurbiz_menu.admin.menu.update.before_content', {'resource': resource}) }}

    <div class="ui grid">
        <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
            {{ sylius_template_event('monsieurbiz_menu.admin.menu.update.items_tree', {'resource': resource, 'menu': resource}) }}
        </div>
        <div class="sixteen wide mobile sixteen wide tablet twelve wide computer column">
            {{ parent() }}
        </div>
    </div>

    {{ sylius_template_event('monsieurbiz_menu.admin.menu.update.after_content', {'resource': resource}) }}
{% endblock %}
