<li>
    <a class="dropdown-item" href="{{ path('monsieurbiz_menu_admin_menu_item_create_for_parent', {'menuId': '__MENU_ID__', 'parentId': '__MENU_ITEM_ID__'}) }}">
        {{ 'sylius.ui.create'|trans }}
    </a>
</li>
