<li>
    <button class="dropdown-item"
            data-action="live#action"
            data-live-action-param="moveDown"
            data-live-menu-item-id-param="__MENU_ITEM_ID__"
        {{ sylius_test_html_attribute('move-down') }}
    >
        {{ 'sylius.ui.move_down'|trans }}
    </button>
</li>
