<li>
    <a class="dropdown-item" href="{{ path('monsieurbiz_menu_admin_menu_item_update', {'id': '__MENU_ITEM_ID__', 'menuId': '__MENU_ID__' }) }}">
        {{ 'sylius.ui.edit'|trans }}
    </a>
</li>
