<div class="ui modal monsieurbiz-sylius-menu-browser__modal">
    <div class="header">
        {% include '@MonsieurBizSyliusMenuPlugin/Admin/Browser/Modal/_header.html.twig' %}
    </div>

    <div class="content">
        {% include '@MonsieurBizSyliusMenuPlugin/Admin/Browser/Modal/_content.html.twig' %}
    </div>

    <div class="actions">
        {% include '@MonsieurBizSyliusMenuPlugin/Admin/Browser/Modal/_actions.html.twig' %}
    </div>

    <div class="ui dimmer inverted monsieurbiz-sylius-menu-browser__loader">
        <div class="ui loader"></div>
    </div>
</div>
