{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

{{ form_errors(form) }}

<div class="ui segment">
    <div class="field">
        {{ form_row(form.parent) }}
        {{ form_row(form.highlighted) }}
        {{ translationForm(form.translations) }}
    </div>
</div>
